body {
  background-color: black;
}
a {
  text-decoration: none;
  color: white;
}

.maint-wraper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.Sidebar {
  flex-basis: 20%;
  padding: 20px;
  height: 100vh;
  min-width: 250px;
  border-right: 1px solid #d8d9da2f;
}
.Sidebar-wraper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.maint-logo {
  padding: 15px 0 15px 10px;
}
.sidebar-items {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  border-radius: 8px;
}
.item > a {
  display: flex;
  align-items: end;
  padding: 10px;
  gap: 15px;
}
.item > a > span,
.berger-menu > span {
  font-size: 17px;
}
.item:hover,
.berger-menu:hover {
  background-color: #1a1a1a;
}
.item:hover > a > ._ab6-,
.berger-menu:hover > ._ab6- {
  transition: all ease-in-out 0.3s;
  transform: scale(1.1);
}
.berger-menu {
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: end;
  gap: 15px;
  transform: translateY(0);
  color: white;
  cursor: pointer;
}

.maint-content {
  flex-basis: 80%;
  padding: 15px;
  width: 100%;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  padding: 40px 60px 40px 60px;
  overflow: scroll;
}
.mobile-header {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
.content-wraper {
  max-width: 630px;
}
.maint-story {
  position: relative;

  padding: 0 10px 0 25px;
}
.story-wraper {
  height: 90px;
  width: 100%;
  display: flex;
  gap: 10px;
  overflow: scroll;
}
.story {
  max-width: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.str-Useravt {
  border-radius: 50%;
  overflow: hidden;
  width: fit-content;
}
.str-userName {
  color: white;
  font-size: 11px;
  font-weight: 400;
  max-width: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-nextStr,
.btn-prevStr {
  position: absolute;
}
.btn-nextStr {
  height: 45px;
  width: 45px;
  background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yz/r/quLU_xi5ZD1.png");
  background-position: -291px -269px;
  background-size: 553px 528px;
  right: 0;
  top: 10%;
}
.btn-prevStr {
  height: 45px;
  width: 45px;
  background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yz/r/quLU_xi5ZD1.png");
  background-position: -291px -223px;
  background-size: 553px 528px;
  left: 16px;
  top: 10%;
}
.suggest-bar {
  flex-basis: 40%;
  height: 100%;
  padding: 10px 60px 0 40px;
  color: white;
  font-size: 14px;
}
.User-acount {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  min-width: 290px;
}
.Avt-wraper {
  border-radius: 50%;
  overflow: hidden;
}
.info-User {
  flex-grow: 1;
}
.i4-nickName {
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.i4-UserName {
  color: #a8a8a8;
}
.btn-switch {
  color: #0095f6;
}
.blue {
  color: blue;
}
@media screen and (max-width: 600px) {
  .maint-wraper {
    flex-direction: column-reverse;
    height: 100vh;
  }
  .Sidebar {
    flex-direction: row;
    flex-basis: 5%;
    padding: 0;
    border-right: 0;
    border-top: 1px solid #d8d9da2f;
  }
  .sidebar-items {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
  }
  .item > a > span,
  .berger-menu,
  .maint-logo,
  .item-search {
    display: none;
  }
  .maint-content {
    flex-basis: 90%;
    height: 100%;
    padding: 0;
  }
  .mobile-header {
    display: flex;
    color: white;
    font-size: larger;
    padding: 9px 20px 20px;
    gap: 10px;
  }
  .search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: #262626;
    padding: 0 10px 0 10px;
    gap: 10px;
    border-radius: 10px;
  }
  .search-bar > i {
    font-size: medium;
  }
  .search-bar > input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .content-wraper {
    flex-basis: 100%;
    height: 100%;
    min-width: 0;
  }
  .suggest-bar {
    display: none;
  }
  ._ab6- {
    height: 24px;
    width: 24px;
  }
  .btn-nextStr,
  .btn-prevStr {
    display: none;
  }
}
