* {
  color: white;
}
body {
  background-color: black;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
li {
  border-radius: 5px;
  overflow: hidden;
}
input[type="file"] {
  display: none;
}
input {
  font-size: 15px;
}
.maint-wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.Sidebar {
  overflow: hidden;
  background-color: black;
  min-width: 250px;
  position: relative;
  z-index: 3;
  padding: 20px;
  height: 100vh;
  border-right: 1px solid #d8d9da2f;
}
.Sidebar-wraper {
  min-width: 220px;
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  height: 100%;
}
.maint-logo {
  padding: 15px 0 15px 10px;
}
.sidebar-items {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  border-radius: 8px;
}
.item > a {
  display: flex;
  align-items: end;
  padding: 10px;
  gap: 20px;
}
.item > a > span,
.berger-menu > span {
  font-size: 17px;
}
.item:hover,
.berger-menu:hover {
  background-color: #1a1a1a;
}
.item:hover > a > ._ab6-,
.berger-menu:hover > ._ab6- {
  transition: all ease-in-out 0.3s;
  transform: scale(1.1);
}
.berger-menu {
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: end;
  gap: 28px;
  transform: translateY(0);
  color: white;
  cursor: pointer;
}
.Search-overlay {
  left: -100%;
  width: 530px;
  height: 100%;
  padding: 30px 0 0 90px;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 1px solid #262626;
  background-color: black;
  z-index: 2;
}
.Search-overlay > p {
  font-weight: 600;
}
.Search-ov-input {
  padding: 20px 0;
  border-bottom: 1px solid #262626;
}
.Search-ov-input > input {
  background-color: #262626;
  border: none;
  outline: none;
  height: 40px;
  width: 90%;
  border-radius: 10px;
  padding-left: 18px;
  font-size: 17px;
}
.create_post-overlay {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #000000d1;
  display: none;
}
.create-modals_wraper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  background-color: #262626;
  border-radius: 20px;
}
.create-modal {
  display: flex;
  width: 570px;
  height: 590px;
  flex-direction: column;
  align-items: center;
}
.create-post {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.submit-create {
  background-color: #0095f6;
  padding: 9px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline: none;
}
.create-modal > p {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #a8a8a881;
  font-size: 17px;
}
.btn-close_OvPost {
  position: absolute;
  top: 20px;
  right: 4%;
}
.maint-content {
  flex-basis: 80%;
  padding: 15px;
  width: 100%;
  min-width: fit-content;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  justify-content: end;
  padding: 40px 60px 40px 60px;
  overflow: scroll;
}
.mobile-header {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
.content-wraper {
  max-width: 630px;
}
.maint-story {
  position: relative;
  padding: 0 10px 0 25px;
  margin-bottom: 40px;
}
.story-wraper {
  height: 90px;
  width: 100%;
  display: flex;
  gap: 10px;
  overflow: scroll;
}
.story {
  max-width: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.str-Useravt {
  border-radius: 50%;
  overflow: hidden;
  width: fit-content;
}
.str-userName {
  color: white;
  font-size: 11px;
  font-weight: 400;
  max-width: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-post {
  position: absolute;
  z-index: 5;
  height: 45px;
  width: 45px;
  background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yz/r/quLU_xi5ZD1.png");
  background-size: 553px 528px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
}
.btn-indexPost {
  position: absolute;
  bottom: 10px;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
  gap: 4px;
}
.btn-indexPost > span {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  background-color: rgba(255, 255, 255, 0.644);
}
.btn-indexPost > .activeImg {
  background-color: white;
}
.btn-nextPost {
  background-position: -291px -269px;
  right: 0;
}

.btn-prevPost {
  background-position: -291px -223px;
  left: 0;
}
.btnStr {
  position: absolute;
  height: 45px;
  width: 45px;
  background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yz/r/quLU_xi5ZD1.png");
  background-size: 553px 528px;
  top: 10%;
}
.btn-nextStr {
  background-position: -291px -269px;
  right: 0;
}
.btn-prevStr {
  background-position: -291px -223px;
  left: 16px;
}
.suggest-bar {
  flex-basis: 40%;
  height: 100%;
  padding: 10px 60px 0 70px;
  color: white;
  font-size: 14px;
}
.suggest-user {
  margin-top: 40px;
}
.most-userAccount {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.User-account,
.Suggest-account {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  min-width: 290px;
  width: 100%;
}
.Avt-wraper,
.post-avt {
  border-radius: 50%;
  overflow: hidden;
}
.info-User,
.info-Suggest {
  flex-grow: 1;
}
.all-sugget {
  display: flex;
}
.all-sugget > p {
  flex-grow: 1;
}
.i4-nickName,
.post-name {
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.i4-UserName,
.post-time,
.suggest-text,
.post-status > p {
  color: #a8a8a8;
}

.btn-switch,
.btn-follow {
  color: #0095f6;
}
.posts-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.maint-post {
  width: 468px;
  padding-bottom: 10px;
  border-bottom: solid 1px #262626;
  margin-bottom: 20px;
}
.post-info {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 15px;
}

.post-content {
  border: 1px solid #d8d9da2f;
  min-width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}
.slider-wrap {
  touch-action: cross-slide-x;
  display: flex;
  overflow: scroll;
  padding: 0;
}
.speaker-wraper {
  height: 28px;
  width: 28px;
  position: absolute;
  bottom: 10px;
  right: 3%;
  background-color: #262626;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interact-items {
  display: flex;
  margin-bottom: 10px;
}
.interact-icons {
  flex-grow: 1;
  display: flex;
  gap: 15px;
}
.post-like {
  font-size: 14px;
}
.post-status {
  font-size: 14px;
  display: flex;
  gap: 15px;
}
.post-status > span {
  font-weight: 700px;
}
.post-slideshow {
  position: relative;
}
.show-comments,
.show-comments > span,
.add-comment > i {
  color: #a8a8a8;
  font-size: 15px;
}
.show-comments {
  margin-bottom: 8px;
}
.add-comment {
  display: flex;
}
.add-comment > input {
  background-color: transparent;
  outline: none;
  border: none;
  flex-grow: 1;
}
.blue {
  width: fit-content;
}
@media screen and (max-width: 600px) {
  .maint-wraper {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100vh;
  }
  .Sidebar {
    overflow: hidden;
    min-width: none;
    flex-direction: row;
    flex-basis: 5%;
    padding: 0;
    border-right: 0;
    border-top: 1px solid #d8d9da2f;
  }
  .sidebar-items {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
  }
  .item > a > span,
  .berger-menu,
  .maint-logo,
  .item-search {
    display: none;
  }

  .maint-content {
    flex-basis: 90%;
    height: 100%;
    padding: 0;
    min-width: 0;
  }
  .mobile-header {
    display: flex;
    color: white;
    font-size: larger;
    padding: 9px 20px 20px;
    gap: 10px;
  }
  .search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: #262626;
    padding: 0 10px 0 10px;
    gap: 10px;
    border-radius: 10px;
  }
  .search-bar > i {
    font-size: medium;
  }
  .search-bar > input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .content-wraper {
    flex-basis: 100%;
    height: 100%;
    min-width: 0;
  }
  .suggest-bar {
    display: none;
  }
  ._ab6- {
    height: 24px;
    width: 24px;
  }
  .btn-nextStr,
  .btn-prevStr {
    display: none;
  }
  .maint-post {
    width: 375px;
  }
  .post-content {
    border: none;
  }
  .post-info {
    padding-left: 10px;
  }
  .interact-wraper {
    padding: 0 10px 0 10px;
  }
  .speaker-wraper {
    right: 1%;
  }
  .Search-overlay {
    display: none;
  }
  .btn-close_OvPost {
    top: 20px;
  }
  .create-modal {
    display: flex;
    width: 350px;
    height: 400px;
    flex-direction: column;
    align-items: center;
  }
  .slider-wrap {
  }
  .post-content {
    scroll-snap-align: start;
  }
  .toggleSwip {
    scroll-snap-type: x mandatory;
  }
}
