<div class="content-wraper">
  <div class="posts-wraper">
    <div class="posts-container">
      <div ng-repeat="post in posts" class="maint-post">
        <div class="post-info">
          <div
            class="post-info_wrapper"
            ng-mouseenter="showProfile(post)"
            ng-mouseleave="hideProfile()"
            ng-click="gotoProfile('/profile',post.userId)"
          >
            <div class="post-avt">
              <img
                ng-if="post.Avatar === null"
                src="./../src/images/avatar/360_F_408244382_Ex6k7k8XYzTbiXLNJgIL8gssebpLLBZQ.jpg"
                alt=""
              />
              <img
                ng-if="post.Avatar != null"
                ng-src="{{post.Avatar}}"
                alt=""
              />
            </div>
            <div class="post-username">
              {{post.firstName +"_"+ post.lastName}}
            </div>
            <span>•</span>
            <div class="post-time">{{post.TimeFromNow}}</div>
            <div class="postUserProfile">
              <div class="profileWraper">
                <div class="imgWrapper">
                  <img ng-src="{{postUserPrf.Avatar}}" alt="" />
                </div>
                <div class="Userinfo">
                  <div class="userName">
                    {{postUserPrf.firstName+"_"+postUserPrf.lastName}}
                  </div>
                  <div class="nickName">{{postUserPrf.nickName}}</div>
                </div>
              </div>
              <div class="anotherInfo">
                <div class="Posts">
                  {{postUserPrf.JsonPosts.length}} <br />Posts
                </div>
                <div class="Follower">
                  {{postUserPrf.Follower.length}} <br />Follower
                </div>
                <div class="Following">
                  {{postUserPrf.Following.length}} <br />Following
                </div>
              </div>
              <div class="prv-postWrapper">
                <div class="postList-wraper">
                  <div
                    class="MpostItem"
                    ng-repeat="postitem in postUserPrf.JsonPosts | limitTo: 3"
                  >
                    <img
                      ng-src="{{postitem.Users[0].Media[0].mediaFile}}"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-post">
            <i
              class="ri-arrow-drop-down-fill ri-2x"
              ng-click="toggleMenu()"
            ></i>
            <div class="menuPost" ng-if="post.userId === user.id ">
              <div class="editPost" ng-click="editPost(post)">edit post</div>
              <div class="deletePost" ng-click="deletePost(post)">
                delete post
              </div>
            </div>
          </div>
        </div>
        <div class="post-slideshow">
          <div
            ng-click="test($event)"
            class="btn-nextPost btn-post"
            ng-if="post.Media.length > 1"
          ></div>
          <div
            ng-click="test($event)"
            class="btn-prevPost btn-post"
            ng-if="post.Media.length > 1"
          ></div>
          <div class="btn-indexPost">
            <span
              ng-repeat="mediafile in post.Media track by $index"
              ng-class="{'activeImg': $index === 0}"
            ></span>
          </div>

          <ul class="slider-wrap">
            <li
              ng-repeat="mediafile in post.Media track by $index"
              class="post-content"
            >
              <div ng-switch="getMediaType(mediafile.mediaFile)">
                <img
                  ng-switch-when="image"
                  height="100%"
                  width="100%"
                  ng-src="{{mediafile.mediaFile}}"
                  alt=""
                />
                <video
                  ng-switch-when="video"
                  loop="true"
                  autoplay="autoplay"
                  playsinline
                  muted
                  width="100%"
                >
                  <source ng-src="{{mediafile.mediaFile}}" type="" />
                </video>
              </div>
              <div class="speaker-wraper">
                <svg
                  aria-label="Audo is muted."
                  class="x1lliihq x1n2onr6"
                  color="rgb(255, 255, 255)"
                  fill="rgb(255, 255, 255)"
                  height="12"
                  role="img"
                  viewBox="0 0 48 48"
                  width="12"
                >
                  <title>Audo is muted.</title>
                  <path
                    clip-rule="evenodd"
                    d="M1.5 13.3c-.8 0-1.5.7-1.5 1.5v18.4c0 .8.7 1.5 1.5 1.5h8.7l12.9 12.9c.9.9 2.5.3 2.5-1v-9.8c0-.4-.2-.8-.4-1.1l-22-22c-.3-.3-.7-.4-1.1-.4h-.6zm46.8 31.4-5.5-5.5C44.9 36.6 48 31.4 48 24c0-11.4-7.2-17.4-7.2-17.4-.6-.6-1.6-.6-2.2 0L37.2 8c-.6.6-.6 1.6 0 2.2 0 0 5.7 5 5.7 13.8 0 5.4-2.1 9.3-3.8 11.6L35.5 32c1.1-1.7 2.3-4.4 2.3-8 0-6.8-4.1-10.3-4.1-10.3-.6-.6-1.6-.6-2.2 0l-1.4 1.4c-.6.6-.6 1.6 0 2.2 0 0 2.6 2 2.6 6.7 0 1.8-.4 3.2-.9 4.3L25.5 22V1.4c0-1.3-1.6-1.9-2.5-1L13.5 10 3.3-.3c-.6-.6-1.5-.6-2.1 0L-.2 1.1c-.6.6-.6 1.5 0 2.1L4 7.6l26.8 26.8 13.9 13.9c.6.6 1.5.6 2.1 0l1.4-1.4c.7-.6.7-1.6.1-2.2z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </div>
            </li>
          </ul>
        </div>
        <div class="interact-wraper">
          <div class="interact-items">
            <div class="interact-icons">
              <div class="like" ng-click="likePost(post.id,post.userId)">
                <svg
                  aria-label="Like"
                  class="x1lliihq x1n2onr6"
                  color="rgb(245, 245, 245)"
                  fill="rgb(245, 245, 245)"
                  height="24"
                  role="img"
                  viewBox="0 0 24 24"
                  width="24"
                  ng-if="!post.LikeByUser"
                >
                  <title>Like</title>
                  <path
                    d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"
                  ></path>
                </svg>
                <svg
                  aria-label="Unlike"
                  class="x1lliihq x1n2onr6 xxk16z8"
                  fill="#f02849"
                  height="24"
                  role="img"
                  viewBox="0 0 48 48"
                  width="24"
                  ng-if="post.LikeByUser"
                >
                  <title>Unlike</title>
                  <path
                    d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
                  ></path>
                </svg>
              </div>
              <div class="comments">
                <svg
                  aria-label="Comment"
                  class="x1lliihq x1n2onr6"
                  color="rgb(245, 245, 245)"
                  fill="rgb(245, 245, 245)"
                  height="24"
                  role="img"
                  viewBox="0 0 24 24"
                  width="24"
                >
                  <title>Comment</title>
                  <path
                    d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"
                    fill="none"
                    stroke="currentColor"
                    stroke-linejoin="round"
                    stroke-width="2"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="save">
              <svg
                aria-label="Save"
                class="x1lliihq x1n2onr6"
                color="rgb(245, 245, 245)"
                fill="rgb(245, 245, 245)"
                height="24"
                role="img"
                viewBox="0 0 24 24"
                width="24"
              >
                <title>Save</title>
                <polygon
                  fill="none"
                  points="20 21 12 13.44 4 21 4 3 20 3 20 21"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                ></polygon>
              </svg>
            </div>
          </div>
          <div class="post-like">
            <span ng-if="post.Reactions.length > 0"
              >{{post.Reactions.length}}</span
            >
            <span ng-if="post.Reactions === null">0</span>
            <span>likes</span>
          </div>
          <div class="post-status">
            <span class="post-username"
              >{{post.firstName +"_"+ post.lastName}}</span
            >
            <p>{{post.Status}}</p>
          </div>
          <div class="comments-wraper">
            <div class="show-comments" ng-click="handleShowComment(post)">
              View all
              <span class="total-comments">{{post.Comment.length}}</span>
              comment
            </div>
            <div class="add-comment">
              <input type="text" name="" id="" placeholder="Add a comment..." />
              <div class="emoji">
                <i class="ri-emotion-line"></i>
                <div class="emoji-picker">
                  <ul class="emo-wraper"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="suggest-bar">
  <div class="User-account">
    <div class="Avt-wraper">
      <img ng-src="{{getAvatar()}}" alt="" />
    </div>
    <div class="info-User">
      <div class="i4-nickName">{{user.nickName||user.fullName}}</div>
      <div class="i4-UserName">{{user.fullName}}</div>
    </div>
    <div class="btn-switch">Switch</div>
  </div>
  <div class="suggest-user">
    <div class="all-sugget">
      <p>Suggested for you</p>
      <div class="suggest">See All</div>
    </div>
    <div class="most-userAccount">
      <div ng-repeat="account in recommentUser" class="Suggest-account">
        <div class="Avt-wraper">
          <img
            ng-if="account.Avatar === null"
            src="./../src/images/avatar/360_F_408244382_Ex6k7k8XYzTbiXLNJgIL8gssebpLLBZQ.jpg"
            alt=""
          />
          <img
            ng-if="account.Avatar !== null"
            ng-src="{{account.Avatar}}"
            alt=""
          />
        </div>

        <div class="info-Suggest">
          <div class="i4-nickName">
            {{account.firstName+"_"+account.lastName}}
          </div>
          <div class="suggest-text">Suggested for you</div>
        </div>
        <div class="btn-follow" ng-click="followUser(account.id)">Follow</div>
      </div>
    </div>
  </div>
</div>
