.maint-explore {
  flex-basis: 80%;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  justify-content: end;
  overflow: scroll;
  padding: 10px 85px 10px 60px;
}
.explore-wraper {
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, calc((100% / 3) - 10px));
  grid-template-rows: repeat(3);
  gap: 10px;
}
.exploreItem {
  background-color: #262626;
  min-width: 336.75px;
  min-height: 336.75px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.exploreOverlay {
  position: absolute;
  background-color: #262626;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  display: none;
}
.exploreItem:hover > .exploreOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
